.idea/

# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# ==========================================================================================
# Mac Git Ignore
# Aviliable At: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
# ==========================================================================================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

.atom/compile-cache/
.atom/storage/
